.Header {
  display: flex;
  background-color: #b30303;
  padding: 15px;
  justify-content: center;
  button {
    min-width: 75px;
    background-color: #b30303;
    color: #fff;
    margin-right: 15px;
    padding: 7px;
    border: 1px solid rgb(7, 0, 0);
    border-radius: 7px;
    cursor: pointer;
  }
  img {
    max-height: 15px;
  }
}
