.App {
  background-color: #2f2f2f;
  color: #fff;
  width: 100%;
  min-width: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
